.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}


.signup {
  height: 100%;
  border-radius: 0px;
  margin-right: 0px;
  background-color: rgb(73, 214, 148);
}
.nav-link{
  cursor: pointer;
}